#mainForm-Description2ReadOnly {
  height: 1000px !important; 
}

#mainForm-DescriptionReadOnly {
  height: 1000px !important;
}

#mainForm-Description5ReadOnly {
  height: 800px !important;
}