html * {
font-family: sans-serif  !important; 
border-radius: 0px !important; 
border-top-left-radius: 0px !important; 
border-top-right-radius: 0px !important; 
border-bottom-right-radius: 0px !important; 
border-bottom-left-radius: 0px !important; 
}

#mainForm-Description2ReadOnly {
  height: 1000px !important; 
  -webkit-user-select: auto !important;
}

#mainForm-DescriptionReadOnly {
  height: 1000px !important;
  -webkit-user-select: auto !important;
}

#mainForm-Description5ReadOnly {
  height: 1000px !important;
  -webkit-user-select: auto !important;

}

#mainForm-Details_editor {
	height: 600px !important;
	-webkit-user-select: auto !important;
  
}

#mainForm-_HistoryDetailsReadOnly{
	height: 1000px !important;
	-webkit-user-select: auto !important;
  
}

